
#form-container {
    height: 45vh;
    width: 25vw;
    margin-bottom: 50px;
    position: absolute;
    z-index: 10;
    border-radius: 35px;
    background: var(--lavender);
    transition: all 0.3s ease-in;
    animation-name: appear;
    animation-duration: 0.2s;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    font-size: 1.3em;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#taskForm {
    height: 75%;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-title {
    width: 100%;
    margin: 25px 0 0 15px;
    font-family: Geomanist, sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    color: var(--salsa);
    text-align: center;
}

.form-element {
    width: 90%;
    height: 17%;
    margin: 20px 0;
    text-align: center;
    line-height: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-element label {
    margin: 5px 0;
    width: 75%;
    font-size: 1.2em;
    font-family: Verdana, sans-serif;
}

.form-element input[type=text] {
    height: 50%;
    width: 75%;
    font-size: 1em;
}

#submit-btn {
    width: 60%;
    height: 2em;
    line-height: 2em;
    border: none;
    border-radius: 25px;
    background-color: var(--salsa);
    font-size: 1.2em;
    font-family: Verdana, sans-serif;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

#submit-btn:hover {
    background-color: #ee6768;
    width: 62%;
    height: 2.1em;
    line-height: 2.1em;
}